{% extends 'map/header.html' %}

{% block content %}
{% load staticfiles %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div id="map-container" class="col-lg-7 my-auto">
        <div id="map" class="rounded"></div>
        <div class="header-content mx-auto">
          <a id="start" class="btn btn-outline btn-xl js-scroll-trigger">Započnite sa korišćenjem sada</a>
        </div>
      </div>
      <div class="listings col-lg-5 my-auto fadeOutClass">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <img src="{% static 'img/telefonce.png' %}" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% include 'map/snippets/loginSnippet.html' %} 
{% include 'map/snippets/mapSnippet.html' %}

{% endblock %}
