<header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div id="map-container" class="col-lg-7 my-auto">
            <div id="map" class="rounded"></div>
            <div class="header-content mx-auto">
              <a id="start" class="btn btn-outline btn-xl js-scroll-trigger">Započnite sa korišćenjem sada</a>
            </div>
          </div>
          <div class="listings col-lg-5 my-auto fadeOutClass">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <img src="{% static 'img/telefonce.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% include 'map/snippets/loginSnippet.html' %} 

    <script type="text/javascript">
      
      function initMap() {       


        mapDiv = document.getElementById('map');


        var map = new google.maps.Map(mapDiv, {
          zoom: 12,
          center: {lat: 43.3209, lng: 21.8958},
          styles: {% include 'map/snippets/GOOGLE_STYLE.json' %},
        });

        markers = [];

        {% for item in Locations %}

          var marker = new google.maps.Marker({
            position: {
              lat:parseFloat({{ item.lattitude }}), 
              lng:parseFloat({{ item.longitude }})
            }
          });          

          markers.push(marker);

        {% endfor %}

        infoWindow = new google.maps.InfoWindow;

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }

        var input = document.getElementById('searchField');
        var searchBox = new google.maps.places.SearchBox(input);
        

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }
        
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });

        var markerCluster = new MarkerClusterer(map, markers, { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        return false;

      }

    </script>
